/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/app/Http/Traits/NotificationManager.php
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
mehan-elryad-firebase-adminsdk-8v041-81b738d0f0.json
mehan-elryad-firebase-adminsdk-8v041-09fe558eb4.json
